*.pyc
*-checkpoint.ipynb
.DS_Store
env

# Pre-Alignment Nextclade data
data/sars-cov-2_*
data/*.vcz

# Pre-Alignment GISAID data
data/metadata.tsv
data/sequences.fasta

# Pre-Alignment Notebook Output
bin/
logs/
results/
*.zarr

# Viridian data
viridian_dataset/data
viridian_dataset/.snakemake

# Usher
usher_tree/.snakemake
usher_tree/*.trees
usher_tree/*.tsz
usher_tree/*.gz

